<html>
	<head>
		<title> Index </title>
	<link rel="stylesheet" href="login.css"/>
		
	</head>
	<body>
	
	<h2><a href='home.html'>Home</a></h2>
	<div class ="a">
	<p style="color:red">
<h2>Login</h2>
</p>
<form method="post">

 <input type="text" name="uname" value="" placeholder = "Enter your Username " align ="center"></br>
 <br><input type="password" name="pass" value="" placeholder ="Enter your password" align ="center"></br>
 <br><input type="submit" name="submit" value="login"><br>
	
	</body>

</html>